<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.kaira.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.KairaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kaira">
        <activity android:name=".assessment.AssessmentQuestionActivity"></activity>
        <activity android:name=".assessment.AssessmentActivity" />
        <activity android:name=".introduction.IntroductionActivity" />
        <activity
            android:name=".termsconditions.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".termsconditions.TermsConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".termsconditions.TermsOfUseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onboarding.OnboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>