<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.kaira.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.KairaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kaira">
        <activity android:name=".home.MainActivity"></activity>
        <activity
            android:name=".banking.institution.BankInstitutionsHostActivity"
             />

        <meta-data
            android:name="io.sentry.dsn"
            android:value="@string/sentry_url" />

        <activity
            android:name=".banking.onboard.SecurityInfoActivity"
             />
        <activity
            android:name=".banking.onboard.BankAccountConnectLastChanceActivity"
             />
        <activity
            android:name=".banking.onboard.BankAccountInvitationActivity"
             />
        <activity
            android:name=".account.forgotpassword.ResetPasswordActivity"
             />
        <activity
            android:name=".account.forgotpassword.ForgotPasswordEmailVerificationActivity"
             />
        <activity
            android:name=".account.forgotpassword.ForgotPasswordActivity"
             />
        <activity
            android:name=".account.login.LoginActivity"
             />
        <activity
            android:name=".account.create.AccountVerificationDeepLinkingActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/base_url"
                    android:pathPrefix="/users/verify"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".account.forgotpassword.ForgotPasswordVerificationDeepLinkingActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/base_url"
                    android:pathPrefix="/users/password/reset"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".account.create.AccountVerifiedActivity"
             />
        <activity
            android:name=".account.create.AccountVerificationActivity"
             />
        <activity
            android:name=".account.create.UserCredentialsCreateAccountActivity"
             />
        <activity
            android:name=".account.create.UserIdentityCreateAccountActivity"
             />
        <activity
            android:name=".account.create.InfoCreateAccountActivity"
             />
        <activity
            android:name=".account.onboard.AccountCreationOnboardingActivity"
             />
        <activity
            android:name=".survey.SurveyActivity"
             />
        <activity
            android:name=".assessment.LastChanceActivity"
             />
        <activity
            android:name=".assessment.StrategyActivity"
             />
        <activity
            android:name=".assessment.EvaluationCompletedActivity"
             />
        <activity
            android:name=".assessment.FinancialProfilesActivity"
             />
        <activity
            android:name=".assessment.FinancialAssessmentResultActivity"
             />
        <activity
            android:name=".assessment.PsychologicalProfilesActivity"
             />
        <activity
            android:name=".assessment.PsychologicalAssessmentResultActivity"
             />
        <activity
            android:name=".assessment.AssessmentProfileComputationActivity"
             />
        <activity
            android:name=".assessment.AssessmentQuestionActivity"
             />
        <activity android:name=".assessment.AssessmentActivity" />
        <activity
            android:name=".introduction.IntroductionActivity"
             />
        <activity
            android:name=".termsconditions.PrivacyPolicyActivity"
             />
        <activity
            android:name=".termsconditions.TermsConditionActivity"
             />
        <activity
            android:name=".termsconditions.TermsOfUseActivity"
             />
        <activity
            android:name=".onboarding.OnboardActivity"
             />
        <activity
            android:name=".splash.SplashActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>