<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.kaira.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.KairaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kaira">
        <activity android:name=".account.create.EmptyEmailActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="api.staging.kaira.ai"
                    android:pathPrefix="/users"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".account.create.AccountVerifiedActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".account.create.AccountVerificationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".account.create.UserCredentialsCreateAccountActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".account.create.UserIdentityCreateAccountActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".account.create.InfoCreateAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.onboard.AccountCreationOnboardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".survey.SurveyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".assessment.LastChanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".assessment.StrategyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".assessment.EvaluationCompletedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".assessment.FinancialProfilesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".assessment.FinancialAssessmentResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".assessment.PsychologicalProfilesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".assessment.PsychologicalAssessmentResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".assessment.AssessmentProfileComputationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".assessment.AssessmentQuestionActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".assessment.AssessmentActivity" />
        <activity
            android:name=".introduction.IntroductionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".termsconditions.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".termsconditions.TermsConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".termsconditions.TermsOfUseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onboarding.OnboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>